.article_summary {
  background: rgb(131,125,125);
  background: linear-gradient(170deg, rgb(255, 105, 105) 0%, rgb(210, 29, 29) 75%, rgb(182, 21, 21) 75.2%, rgba(255,0,0,1) 90%, rgba(255,0,0,0) 90.1%);  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;
  height: 200px;
  margin-bottom: 20px;
  text-align: justify;
}

.article_summary .thumbnail {
  flex: 0, 0, 200px;
}

.article_summary .thumbnail img {
  height: 200px;
  width: 200px;
}

.article_summary .text_summary {
  flex: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
}

.article_summary .text_summary .title_container {
  margin: 0;
  flex: 30%;
  display: flex;
  justify-content: start;
  align-items: center;
  background: rgb(255,145,145);
  background: linear-gradient(0deg, rgba(255,145,145,0.7178221630449055) 0%, rgba(255,255,255,0) 20%);
}

.title_container .title {
  text-decoration: none;
  font-size: larger;
  margin-left: 10px;
  padding-left: 10px;
  border-left-color: white;
  border-left-width: 2px;
  border-left-style: dotted;
}

.article_summary .text_summary .details {
  padding: 5px;
  font-size: small;
  color: #EEDDDD;
}
.article_summary .text_summary p {
  flex: 80%;
  margin: 0;
  padding: 10px;
  padding-top: 0px;
}
