.top_nav {
  background: linear-gradient(
    120deg,
    var(--primary-accent) 0%,
    var(--primary-full-bright) 33%,
    var(--lowest-bg) 33.1%,
    var(--high-bg) 98%
  );
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.top_nav .link_bar {
  flex: 70%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.top_nav .link_bar a {
  padding: 20px;
  font-size: larger;
  text-decoration: none;
  color: inherit;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_title {
  text-align: center;
  flex: 30%;
  font-family: "DM Serif Display", serif;
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_title a {
  text-decoration: none;
  background: linear-gradient(
    -120deg,
    var(--medium-bg) 0%,
    var(--very-high-bg) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tag_nav_container {
  background: linear-gradient(
    -120deg,
    var(--medium-bg) 13%,
    var(--high-bg) 13.1%,
    var(--high-bg) 92%,
    var(--medium-bg) 92.1%
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tag_nav_container a {
  color: #ddd;
  text-decoration: none;
  padding: 10px;
  font-size: small;
}
