#contents {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.article_container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: stretch;
  flex: 60%;
}

.left_bar {
  flex: 15%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

.left_bar .welcome {
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: justify;
  background: rgb(152,53,5);
background: linear-gradient(120deg, rgb(102, 9, 9) 0%, rgb(181, 10, 10) 25.5%, rgba(109,39,39,0) 26%, rgba(57,22,22,0) 100%);
}

.left_bar .current_section {
  padding: 10px;
  font-size: x-large;
  background: rgb(221,106,68);
  text-decoration: underline;
background: linear-gradient(60deg, rgba(221,106,68,1) 0%, rgba(191,47,25,1) 79.9%, rgba(109,39,39,0) 80%, rgba(57,22,22,0) 100%);
}

.left_bar .description {
  padding: 10px;
  font-style: italic;
}
