:root {
  --primary-accent: rgb(0, 200, 255);
  --primary-light: rgb(60, 210, 251);
  --primary-full-bright: rgb(187, 230, 241);
  --lowest-bg: rgb(8, 27, 33);
  --medium-bg: rgb(14, 45, 53);
  --high-bg: rgb(26, 62, 72);
  --very-high-bg: rgb(47, 92, 104);
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  font-family: "Lato", sans-serif;
  background: var(--lowest-bg);
  color: #fff;
  animation-name: fade_in !important;
  animation-duration: 0.5s !important;
  animation-timing-function: linear;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.xdebug-error {
  color: black;
}

@keyframes fade_in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.cool_hover:hover {
  background: rgba(0, 0, 0, 30%) !important;
  animation-name: fade_in !important;
  animation-duration: 0.25s !important;
  animation-timing-function: ease-out;
}

.cool_hover:active {
  background: rgba(0, 0, 0, 60%) !important;
}

.reklama_space {
  padding: 20px;
  flex: 10%;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.reklama_space img {
  width: 20vw;
  max-width: fit-content;
  margin-bottom: 20px;
}

.delicate_shadow {
  text-shadow: 1px 1px 1px var(--lowest-bg);
}